doctype html
html
    head
        title= 'zeroEngine'
        link(rel='stylesheet', href='/styles/main.css')
    body
        block content
        script(src="/scripts/jquery-2.1.1.js")
        script(src="/scripts/socket.io.js")
        script(src="/scripts/messenger.js")